.dropdown-toggle:focus {
	outline: -webkit-focus-ring-color auto 5px;
	}

#main {
	background: #fff;
}


img.council {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #000000;
    width: 144px;
    height: 216px;
    float: right;
}

p.bio {
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.photo {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}

.seniorStaff {
	margin: 25px 0;
}

.missionHeading{
	font-weight: 700;
	text-align: center;
	font-size: 1.5em;
	}

.icpsrAboutIMG{
	margin-top:20px;
	}
	
.icpsrAboutWell{
	border-radius: 0;
	background-image: none;
	background-color: #eee;
	margin-top: 20px;
	}
	
.staffBioPhoto{
	padding-top: 10px;
	float: right;
	}

.staff-profile-pic {
	width: 54px;
	height: auto !important;
}

#staff-content {
	display: none;
}

#loading {
	text-align: center;
	padding: 50px;
}

.profile-image {
	padding-top: 20px;
}

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.nominationBlock {
	border: 1px solid #ddd;
	padding: 0 20px 20px;
	border-radius: 6px;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1.0);
	background: -webkit-radial-gradient(center, rgba(255, 255, 255, 1.0), rgba(11, 73, 71, .2));
	background: -moz-radial-gradient(center, rgba(255, 255, 255, 1.0), rgba(11, 73, 71, .2));
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1.0), rgba(11, 73, 71, .2));
}

a.submitNominationBTN {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 18px 40px rgba(11,73,71, .35);
  -moz-box-shadow: px 18px 40px rgba(11,73,71, .35);
  box-shadow: px 18px 40px rgba(11,73,71, .35);
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background-image: none;
  background-color: #0B4947;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submitNominationBTN:hover {
  background: #ffffff;
  text-decoration: none;
  color: #0B4947;
  border: 1px solid #0B4947;

}

.millerFlanniganList{
	display: block;
	margin:0 auto;
}


.deiImage {
	float: right; 
	width: 45%;
}

/*********************************************   annual report page  ********************************/

.noPaddingCol {
	padding-left: 0; 
	padding-right: 0;
	}
	
.icpsrHoldingSize thead tr th,
.icpsrHoldingSize td {
	text-align: center;
	}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
	}

.imagecontainer {
  padding: 10px 20px;
	}

.educationBG {
	background-color: #273c75;
	margin: 45px 0;
	}

.educationBG h2 {
	color: #fbc531;
	padding-bottom: 25px;
	}

.directorNoteBG {
	background-color: #7f8fa6;
	background-color: #B4C3CA;
	margin: 45px 0;
	}

.directorNoteBG h2 {
	padding: 25px 0 10px;
	}


.onDemanTableHeader {
	background-color: #dcdde1;
	}

.restrictedTableHeading { 
	background-color: #487eb045;  
	}
	
.webinarsBG {
	background-color: #f5f6fa; 
	}

.membershipBG .imagecapture {
	background-color: #fff;
	}
	
.membershipPicture {
	width:90%; 
	margin:15px auto; 
	background-color: #273c75; 
	}
	
.financialBG {
	background-color: #2f3640; 
	margin: 45px 0; 
	}
	
.financialBG h2 {
	color: #f5f6fa; 
	padding: 25px 0 10px;
	}

.conferencesUL li, 
.whatsNewUL li {
	padding-bottom: 10px;
	}
	
.topDownloadBG {
	background-color: #3E6D98; 
	margin: 45px 0;
	}
	
.topDownloadBG h2 {
	color: #F5F6FA; 
	padding: 25px 0 10px;
	}

.topDownloadTable thead tr,
.topDownloadTable tbody tr:nth-child(even),
.peopleBG{ 
	background-color: #eee; 
	}

.peopleBG {
	margin: 45px 0;
	}
	
.peopleBG h2 {
	padding: 25px 0 10px;
	}
	
.maggie_levenstein_img {
	float:left; 
	width: 30%; 
	padding: 0 30px 25px 0; 
	}
	
.michael_jones_correa_img{
	float:right; 
	width: 20%; 
	padding: 0 30px 15px 15px;
	}
	
.whatsNewImg {
	float:right; 
	width: 40%; 
	margin: 0 15px 30px 30px;
	}
	
.mainHeroImg {
	padding-bottom: 35px; 
	width: 100%;
	}
	
.firstcharacter {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
	}
	
.iframe-container{
  position: relative;
  
  padding-top: 25%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.indent {margin-left: 15px;}




/* history section */

#footnote {
border-top: 1px solid #072a4a;
font-size: 11px;
}

.excerpt-credit {
width:90%; 
border:1px dotted blue;
padding:5px;
margin:0 auto;
}

.histdoc-inner {
	width : 200px;
	height : 120px; 
	float: left;
	margin-right: 25px;
	margin-bottom: 15px;
	padding : 0px;
	-moz-box-shadow : 0 2px 1px rgba(0,0,0,.5), 0 10px 30px rgba(0,0,0,.5);
	-webkit-box-shadow : 0 2px 1px rgba(0,0,0,.5), 0 10px 30px rgba(0,0,0,.5);
	box-shadow : 0 2px 1px rgba(0,0,0,.5), 0 10px 30px rgba(0,0,0,.5); 
	}

.histdoc-item {
	border-top: 1px solid #c3c2ba;
	border-left: 1px solid #c3c2ba;
	border-right: 1px solid #c3c2ba;
	background: #fff url(http://www.icpsr.umich.edu/files/ICPSR/fifty/images/event-bg.gif) repeat-x;
	margin: 0;
	margin-bottom: 15px;
	padding: 5px;
	width: 45%;
	min-height: 146px;
	}

.histdoc-image {
	width: 135px;
	float: left;
	}

.histdoc-item-right {
	float: right;
	margin-right: 50px;
}

table#websites td {text-align: center;}

table#websites td img {border: 1px solid #ccc;}

#accordion-timeline .panel.panel-default {
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

#accordion-timeline .panel-default .panel-heading{
	background-image: none;
	background-color: #eef0f1;
}

#accordion-time .panel-default .panel-heading .panel-title {
	font-size: 1.6rem;
	padding-bottom: 0;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
}



/* end history section */



/********************************************** CBII pages *************************************************/

.cbII-image-container {
  position: relative;
  text-align: center;
  color: #2f3640;
  font-family: 'Istok Web', sans-serif;
  margin-bottom: 20px;
  
}


.ow1 {
    position: absolute;
    font-size: 1.5em;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    color: #0B4A47;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
}


.ow2 {
  	position: absolute;
  	top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    color: #0B4A47;
    background-color: rgba(255,255,255,.5);
    min-width: 75%;
    min-height: 40%;
}

.ow3 {
  position: absolute;
  font-size:.8em;
  bottom: 13%;
  left: 10%;
  text-align: right;
}



.cbIIWell {
	background-image: none;
	box-shadow: none;
	background-color: transparent;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 -100px 0 transparent inset;
    min-height: 200px;
}


.wellAbout {
	background-image: none;
    overflow: hidden;
    padding: 0 15px 20px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 -100px 0 transparent inset;
    background: #914016;
    background: #ecf0f1;;
    color: #ecf0f1;
    color: #130f40;
    margin: 15px 0;
}

ul.cbIIasideList {
    padding-left: 10px;
    background: #eee;
    border-radius: 4px;
}

div#main article ul.latestNews  {
	margin-left: 15px;
	padding: 5px 0;
}

ul.latestNews li {
	list-style: none;
	margin-bottom: 10px
}

ul.cbIIasideList li {
   list-style: none;
   padding: 5px 0;
   border-bottom: 1px solid #ccc;
}

.dataCollection {
	font-size: 1.2em;
	font-weight: 700;
	padding: 15px 0;
	color: #0B4A47;
}

thead.cbIIThead tr {
	background-color: #003b8338;
	
}


.cbIIH3, .cbIIH4 {
	margin-top: 25px;
}

/* .fa-li{
	padding-right: 10px; 
	padding-top: 5px; 
	line-height: 1.7;
	}
	
.fa-ul>li {
	margin-bottom: 9px;
	} */
	
.cbIIsplashPhoto {
	margin-top: 15px;
	}
	
.wellAbout h2 {
	font-size: 20px; 
	font-weight: 700;
	}
	
h2.cbIImailSignUp{
	margin-top: 45px;
}
.well .cbIIH3, .newsEventsWell h2 {
	margin-top:0;
	}
	
.cbIIH3.border-bottom {
	text-align: center;
	}
	
h2.newsEventsH2.border-bottom {
	background-color: #ddd; 
	padding:20px;
	}

.newsEventsWell {
	padding: 0 0 20px 0; 
	min-height: auto; 
	margin-bottom: 40px;
	}
	
.control-label {
	font-weight: bold;
	}

#censuslink .indent,
.indent {
	margin-left: 15px;
	}

.mainPageHeading {
	margin-top: 35px; 
	margin-bottom: 20px;
	}

.center {
	text-align: center;
	}


.cbIIborder-bottom {
	border-bottom: 1px solid rgba(224,222,208, .8); 
	margin-top: 15px; 
	margin-bottom: 15px; 
	padding-bottom: 15px;
	}

.nav.cbII a.nav-link {
	border-bottom: none;
}	

.nav.cbII a.nav-link.active {
	font-weight: bold;
	border-bottom: 3px solid
}	
	
.news-events-section {
	margin-top: 
	55px;
	}
	
.error {
	font-weight: bold; 
	color: #c0392b;
	}


#mc_embed_signup .button.btn.btn-primary {
    background-color: #0d3880 !important;
    border: 1px solid #0d3880;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 1px;
    box-shadow: rgb(13 56 128 / 35%) 8px 8px 16px;
    height: auto;
    line-height:  unset;
}

#mc_embed_signup .button.btn.btn-primary:hover,
#mc_embed_signup .button.btn.btn-primary:focus {
color: #0d3880;
    box-shadow: none;
    border: 1px solid #0d3880;
    transition: .5s ease-in-out;
    background: #fff !important;
}

.subscribeNewsCBII {
	display: block;
	margin-top: 10px;
}

.cbIIstaffPhoto{
	width: 130px;
	height: auto;
	margin-top:5px;
	padding:0 10px 10px 0;
}


/* making changes to cbIIRectangleCard & cbIIRectangleText will also make changes to RDE index and team page  */
.cbIIrectangleCard {
	width: 100%;
	border: 1px solid #ddd;
	border-top: 5px solid #26347D;
	border-radius: 4px;
	min-height: 105px;
	margin: 10px 0;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: block;
}

.cbIIrectangleCard:hover {
	background-color: #26347D;
	color: #fff;
	transition: 1s ease-in-out;
}

ul.researchGoals li,
ul.institutions li,
ul.liberalArt li {
	padding-bottom: 5px;
}

.well.dataDocWell {
	background-color: #eee;
	border-color: #333;
}

.dataDocWell .title{
	font-size: 1.2em;
	font-weight: 700;
}

.dataDocWell .section {
	font-size:1.1em;
	font-weight: 600;
}
				

.cbIIrectangleText {
	text-align: center;
	margin-top: 30px;
	font-size: 1.5em;
	display: block;
}

.cbIIrectangleText .fas.fa-users {
    			margin-top: -10px;
    		}				


.rectangleFAIcon {
	margin: -5px 0 15px 20px;
}

sup {color:#c0392b;}


.mobileMenuWrapper {
	display: none;
	} 
 		
.cbIIH2 {
	margin-top: 0;
}


.btn-default.navbar-toggleCB2 {
	background-color: #ccc;
	text-shadow: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: 1px solid #b3b5b9;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.col-md-3.aboutSection {
	padding-left: 2px;
	padding-right: 2px;
}


.leftsideBorderCBII {
	border-left: 1px solid #33333347;
}


#latestNewsCBII {
	padding-left: 0;
	padding-right: 15px;
	list-style: none;
}


#latestNewsCBII li {
	position: relative;
	margin-bottom: 10px;
	margin-top: 26px;
} 

#latestNewsCBII li:first-child{
	margin-top: 15px;
}


#latestNewsCBII li a {
	text-decoration: none;
	}


#latestNewsCBII li a:hover,
#latestNewsCBII li a:focus {
	text-decoration: underline;
	}
	

#latestNewsCBII li:after {
   content: "";
   border-bottom: 1px solid #5b5a5a;
   position: absolute;
   display: block;
   width: 145px;
   margin: 10px auto;
   left: 25%;
  }

#latestNewsCBII li:last-child:after {
	content: none;
	border-bottom: none;
}


 
 
 /*******************************************  RDE Pages ****************************************************/
 /* overrides to cbII rectangle cards */
 .cbIIrectangleCard.rdeRectangleCard {
	display: block;
	min-height:80px;
}

 /* overrides to cbII rectangle cards text */
.cbIIrectangleText.rdeRectangleText {
	display: block;
	font-size: 1.1em;
	margin-top: 25px;
}

.cbIIrectangleCard.rdeRectangleCard:hover,
.cbIIrectangleCard.rdeRectangleCard:focus,
.cbIIrectangleCard.rdeRectangleCard.active {
	background-color: #26347D;
    color: #fff;
    transition: 1s ease-in-out;
}

 
 .rdeCards {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   column-gap: 10px;
   margin-left:  15px;
   margin-right:  15px;
   margin-bottom: 15px; 
}

.rdeCard {
	flex: 0 1 calc(25% - 1em);
}


.rdeCard-small-tools {
    font-size: 1em;
    overflow: hidden;
    padding: 0 10px;
    border: 1px solid transparent;
    border-top: 5px solid #26347D;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 15px;
    min-height: 215px;
    background-color:#52688c;
    flex: 0 1 24%; 

}

.rdeCard-text-small-tools {
	font-size: 1.4em;     
	margin-top: 20px;  
	min-height: 75px;
	border-bottom: 1px solid #00000070;
	margin-bottom:  10px;
	padding-bottom:  10px;
}

.rdeCard-text-small-tools.longTitle {
	line-height: 1.3;
	margin-top: 4px;
	min-height: 90px;
}

a .rdeCard-small-tools:hover,
a > .rdeCard-small-tools:focus,
a > .rdeCard-small-tools:active {
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: none;
	transition: .5s ease-in-out;
}

.rdeCard-block-tools {	padding: 0;}
	

.rdeCard-title-small-tools {  
	margin-top: 10px; 
	margin-bottom: 10px;
	min-height: 88px; 
	} 
	
.rdeCard1 {
	background-color:  rgba(212,157,110, .2);
}

.rdeCard2 {
	background-color: rgba(213,160,158, .2);
}

.rdeCard3 {
	background-color: rgba(147,143,178, .2);
}

.rdeCard4 {
	background-color: rgba(138, 161, 160, .2);	
}

.rdeCard5 {
	background-color: rgba(181,205,129, .2);
}

.rdeCard6 {
	background-color:rgba(255,166, 1, .2);
}

.rdeCard7 {
	background-color: rgba(43,118,129, .2);
}

.rdeCard8 {
	background-color: rgba(77,43,99, .2);
}

.rdeCard9 {
	background-color: rgba(13,56,128, .2);
}

.rdeCard10 {
	background-color: rgba(204,104,51, .2);
}

.wellAbout h2.toolsUnderConstruction{
	font-size:  27px;
	font-weight: normal;
}




.seminarSeries {
	margin-top: 45px;
	}

    








/********************************************** MEDIA QUERIES **********************************************/
@media (max-width:1400px){
	.rdeCard-text-small-tools {
		min-height: 57px;
	}
	
	.rdeCard-text-small-tools.longTitle {
		min-height: 35px;
	}
	
}

@media(max-width:1200px){
    	.ow2 {
    		min-width: 95%;
    		min-height: 50%;
    	}
    	
    	.rdeCard-small-tools {min-height: 270px;}
		.rdeCard-text-small-tools {min-height: 81px}
    }

@media (max-width: 1200px) and (min-width:990px){
	
.cbIIrectangleText.partInst .rectangleFAIcon,
.cbIIrectangleText.datadoc .rectangleFAIcon {
	margin-top: 0px;
}

.cbIIrectangleText.partInst {
	margin-right: 10px;
	margin-top: 20px;
}

.cbIIrectangleText.datadoc {
	margin-top: 20px;
} 
	
	
}


@media(max-width: 992px){
	.rdeCards {display: block;}
	.rdeCard-small-tools, .rdeCard-text-small-tools, .rdeCard-text-small-tools.longTitle {min-height: auto;}
	.rdeCard-text-small-tools,.rdeCard-text-small-tools.longTitle {margin-top: 15px;}
}



@media (max-width: 768px){

	.staffBioPhoto{
		margin: 10px auto;
		float: none;
	}
	
	.maggie_levenstein_img,
	.michael_jones_correa_img,
	.whatsNewImg {	
		float:none; 
		width: 100%; 
		padding: 15px; 
	}
	
	.deiImage {
		float: none; 
		width: 100%;
	}
}

@media(max-width:767px){
	.row.noGutter .col-md-9,
	.row.noGutter .col-md-3,
	.row.noGutter .col-sm-3,
	.row.noGutter .col-sm-9 {
		padding-left: 0;
		padding-right: 0;
	}
	
	.wellAbout {
		margin: 20px 0;
	}
	
	 .navbar-toggleCB2 {
        display: block;
    }
    
    .navbar-collapseCB2 {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .collapse.navbar-collapseCB2 {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .asideNoPadding, 
    ul.cbIIasideList {
    	padding-left: 0;
    	}
    	
    /* left side  border on news page for signup form */
	.leftsideBorderCBII {
		border-left: none;
	}
	
 	.cbIIstaffPhoto{
		width: 150px;
		float:left;
		padding-right: 15px;
	}
	
	.navbar-toggleCB2 {
        display: block;
        margin-left: 0;
    }
    
    .cbIIH2 {
		margin-top: 20px;
	}
	
	.btn-default.navbar-toggleCB2 {
		width: 50%;
		margin: 0 auto;
		padding: 15px 30px;
	}
	
	.cbIIrectangleText.twoLineText {
		margin-top: 20px;
	}
	.cbIIrectangleText.twoLineText .rectangleFAIcon {
		margin-top: 10px;
	}
	
	.cbIIrectangleText.libArt {
		padding-right: 10px;
	}
	
	.cbIIrectangleText.advisoryCom {
		padding-right: 15px;
	}

		
 }
 
 @media(min-width: 1500px){
	
	.rdeCard-text-small-tools.longTitle {margin-top: 7px; min-height: 85px;}
	.rdeCard-small-tools {min-height: 175px;}
	.rdeCard-text-small-tools {max-height: 65px;}
	
	.ow2 {
    		min-width: 60%;
    	}
}



@media(min-width:1200px){
	.cbIIstaffPhoto {
	    width: 145px;
	   
    }
}


    

@media (min-width: 989px){
		.navbar-toggleCB2{
		    display: none;
		}
    } 


@media only screen and (min-width:768px){
		#mailchimp .templateContainer{
			width:600px !important;
		}

		#mailchimp {
			width: 600px;
			margin: 0 auto;
		}

}	

@media only screen and (max-width: 480px){
		#mailchimp body{
			width:100% !important;
			min-width:100% !important;
		}

}	

@media only screen and (max-width: 480px){
		#mailchimp #bodyCell{
			padding-top:10px !important;
		}

}	

@media only screen and (max-width: 480px){
		#mailchimp .columnWrapper{
			max-width:100% !important;
			width:100% !important;
		}

}	

@media only screen and (max-width: 480px){
		#mailchimp .mcnImage{
			width:100% !important;
		}

}