/*

READ BEFORE USING!

Style changes in this CSS file are intended to appear on every site that uses the search manager. 
Use sparingly and test thoroughly.

*/

div#publicationsDisclaimer {
	margin-top: 10px;
	font-size: 13px;
}

div#noResultsNotes {
	padding: 20px 0;	
}

.icpsrErrorCat{
	display: none;	
} 

.no-var-results {
	padding: 10px;
}

.peer-reviewed,
.cceerc-produced {
	padding: 0;
}

.rc-icons {
	padding-left: 3px;
	padding-right: 3px;
}

.result-checkbox form {
	display: inline-block;
}

img.noResultsKitty {
	margin: 10px 0px 0px 10px;	
}
    
.busyModal {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url("../images/ajax-busy.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.displayCitation {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

 .publicationsIcon {
    width: 30px;
}


.searchResult .collapse,
.searchResult .collapsing {
	clear: right;
}

#studies-display div.results-header div.row, 
#variables-display div.results-header div.row, 
#publications-display div.results-header div.row {
	background-color: #5782AA;
    color: #fff;
	}

div.exportLinks,
div.fullText {
	margin-top: 0px;
	padding-top: 0px;
	}

a.citationCollapseLink {
	position: relative;
    z-index: 1000;
	}
	
.borderBox{
 	border: 2px solid #ddd;
 	min-height: 400px;
 	max-height: 400px;
 	overflow: auto;
 	margin: 0 13px 15px;
} 
 
.borderBox p{
 	padding: 5px;
 } 
 
.borderBox > ol > li,
.borderBox > ul > li {
	line-height: 1.5;
}

#savedResultsHeader {
	top: 50px;
	z-index: 1;
}


#savedResultsHeader .btn-group {
	background: #fff;
}


#savedResultsHeader .dropdown-menu>li:nth-child(even) {
    background: #eee;
}

#savedResultsHeader .dropdown-menu>li>a {
	text-decoration: none;
}

#savedResultsHeader .dropdown-menu>li>a:hover, 
#savedResultsHeader .dropdown-menu>li>a:focus {
    background: transparent;
    text-decoration: underline;
}


#savedResultsHeader button {
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#savedResultsHeader button:hover,
#savedResultsHeader button:focus {
	box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

#search ul.nav.nav-tabs li {
	text-transform: none;
}

.form-switch .form-check-input:not(:checked),
.form-switch .form-check-input:not(:checked):focus {
	border: 1px solid #000;
}

.form-switch .form-check-input:not(:checked),
.form-switch .form-check-input:not(:checked):focus {
    background-image: url(../images/bs-toggle-bg.png);
 }

@media(max-width: 767px){
	#search ul.nav.nav-tabs li {
		width: 100%;
	}
	
}
